{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="login">
  <!-- Header -->
  <div id="header">
    <div id="branding">
      {% if account %}
      <h1 id="site-name">{% trans "Thank you, activation complete!  Your email address is now confirmed." %}</h1>
      {% else %}
      <h1 id="site-name">{% trans "Oops &ndash; it seems that your activation key is invalid.  Please check the url again."%}</h1>
      {% endif %}
    </div>
  </div> 
</div>

{% endblock %}

