{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block content %}

<div class="login">
  <div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
          <h1 id="site-name">{% trans "Reset my password" %}</h1>
        </div>
    </div> 
    <div id="content">
      <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new one." %}</p>
      <form action="" method="post">
	{% csrf_token %}
	{{ form.email.errors }}
	<p>
	  <label for="id_email">{% trans 'E-mail address:' %}</label> 
	  {{ form.email }} 
	  <input type="submit" value="{% trans 'Reset my password' %}" /></p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
