{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
<div class="login">
  <!-- Header -->
  <div id="header">
    <div id="branding">
      <h1 id="site-name">{% trans "New account has been created and you are now logged into mikran.com. Additionally an activation email has been sent. Please check your email and click on the link to confirm your email address to make sure we can conntact You when needed" %}</h1>
    </div>
  </div> 
</div>

{% endblock %}

