{% load i18n %}
{% load currencies %}
{% load staticfiles %}

{% get_current_currency as currency %}
{% get_available_currencies as CURRENCIES %}

{% get_currency_info_list for CURRENCIES as currencies %}
<form action="/currency/setcurrency/" method="post" name="currencies"> 
  {% csrf_token %}
  <select name="currency">
  {% for c in currencies %}
  {% ifequal c.code currency %}
  <option selected="true" value="{{ c.code }}">{{ c.name }}</option>
  {% else %}
  <option value="{{ c.code }}">{{ c.name }}</option>
  {% endifequal %}
  {% endfor %}
  </select>
  <input type="submit" value={% trans "Change" %}>
</form> 


<!--
<ul>
{% get_current_language as lang %}

<div class="dropdown">
<a href="#" id="dropdown_toggle">{%trans "CURR_LANG" %}: {{lang}} <img src="{%static "blank.gif" %}" class="flag flag-{{lang}}"></a>
<ul id="languages"> 
  {% get_language_info_list for LANGUAGES as languages %}
  {% for lang in languages %} 
  <div>
      <li style="display:inline-block">
      <form action="/i18n/setlang/" method="post" name="form_{{lang.code}}"> 
	  {% csrf_token %}
	  <input type="hidden" name="language" value="{{lang.code}}"/> 
	  <input id="lang_{{lang.code}}" type="image" src="{%static "blank.gif" %}" class="flag flag-{{ lang.code }}" alt="{{ lang.name_local }}"/> 
	</form> 
      </li>
      <li style="display:inline-block"><a href="#" onClick="document.forms['form_{{lang.code}}'].submit()">{{lang.name_local}}</a></li>
  </div>
    {% endfor %} 
</div>
</ul> 
-->

