{% load i18n %}
{% get_current_language as lang %}
{% load staticfiles %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html lang="{{lang}}">
{% block head %}
<head>
  {% block css %}
  <link rel="stylesheet" href="{%static "admin/css/base.css" %}" />
  <link rel="stylesheet" href="{%static "admin/css/forms.css" %}" />
  <link rel="stylesheet" href="{%static "style.css" %}" />
  <link rel="stylesheet" href="{%static "flags.css" %}"/>
  {% endblock %}
  {% block javascripts %}
  <script type="text/javascript" src="{%static "jquery-1.7.2.min.js" %}"></script>
  <script type="text/javascript" src="{%static "flags.js" %}"></script>
  <script type="text/javascript" src="{%static "comms.js" %}"></script>
  {% endblock %}
  {% block meta %}
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="title" content="">
  <meta name="description" content="mikran.com - FIX">
  <meta name="robots" content="noindex, nofollow">
  <meta name="keywords" content="mikran.com - FIX">
  {% endblock %}
  {% block title %}
  <title>{% trans "Welcome to mikran.com" %}</title>
  {% endblock %}
</head>
{% endblock %}

<body>
<div class="messages">
  {% block messages %}
  {% if messages %}
  <ul class="messages messagelist">
    {% for message in messages %}
    {% if message.extra_tags != "basket_only" %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endif %}
    {% endfor %}
  </ul>
  {% endif %}
  {% endblock %}
</div>
<div class="header">
  {% block header %}
  HEADER
  {% endblock %}
</div>
<div class="content">
  {% block content %}
  CONTENT
  {% endblock %}
</div>
<div class="footer">
  {% block footer %}
  FOOTER
  {% endblock %}
</div>
</body>

