{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% load countries %}
{% load currencies %}

{% block header %}

<img src="{%static "logo.jpg" %}">

{% if user.is_authenticated %}
Witamy w pracy, {{ user.first_name }}.

Wyloguj się
{% else %}
Zaloguj się
{% endif %}

{%include "_currencies.html" %}
{%include "_countries.html" %}
{%include "_langs.html" %}

{%include "cart.html" %}


<a href="{% url product_list %}">Product list</a><br />
<h1>Product list:</h1>
  <hr />
  {% for object in object_list %}
  <a href="{% url mikran_product_detail object.id object.slug %}">{{object.get_name}}</a><br />
  {{object.slug}}<br />
  {{object.short_description}}<br />
  {{object.long_description}}<br />
  {{object.active}}<br />

  {{object.date_added}}<br />
  {{object.last_modified}}<br />

  {{object.unit_price}}<br />

  {% if object.category %}
  {{object.category.name}}<br />
  {% else %}
  (Product is at root category)<br />
  {% endif %}

  {%trans "Add to cart" %}

  <form method="post" action="{% url mikran_cart_add %}">{% csrf_token %}
    <input type="hidden" name="add_item_id" value="{{object.id}}">
    <input type="hidden" name="add_item_quantity" value="1">
    <input type="hidden" name="next" value="{{request.path}}">
    <input type="submit" value="{%trans "Add to cart" %}">
  </form>
  <hr />
{% endfor %}

{% endblock %}
